.NewNote form {
  padding-bottom: 15px;
}

.NewNote form textarea {
  height: 300px;
  font-size: 24px;
}

.NewNote form emailAddress {
  font-size: 24px;
}

.Configuration radio label {
  width: 100%;
}

.table>tbody>tr>td {
  padding: 0 !important;
  margin-bottom: 0 !important;
  border-top: 0 !important;
}

.Configuration table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 0;
  border-top: 0;
  padding: 0;
}
