/*! Place your custom styles here */

@media all and (max-width: 767px) {
  .boxed {
    padding: 1.23809524em;
    margin-bottom: 15px;
  }
  .boxed.boxed--lg {
    padding: 1.23809524em;
  }
  .boxed div[class*='col-']:not(.boxed) {
    padding: 0 1.23809524em !important;
  }
  .boxed:last-child {
    margin-bottom: 15px;
  }
}

table th {
  background: none;
}

table {
  border-collapse: collapse;
}

.form-help-text {
  line-height: normal;
}

.a-link {
  align-items: normal;
  background-color: rgba(0,0,0,0);
  border-color: rgb(0, 0, 238);
  border-style: none;
  box-sizing: content-box;
  color: #4a90e2;
  cursor: pointer;
  display: inline;
  font: inherit;
  height: auto;
  padding: 0;
  perspective-origin: 0 0;
  text-align: start;
  transform-origin: 0 0;
  width: auto;
  -moz-appearance: none;
  -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
  -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
}

.a-link:hover {
  color: #2275d7;
  text-decoration: underline;
}

.hover {
  cursor: pointer;
}

/* Mozilla uses a pseudo-element to show focus on buttons, */
/* but anchors are highlighted via the focus pseudo-class. */

@supports (-moz-appearance:none) { /* Mozilla-only */
  .a-link::-moz-focus-inner { /* reset any predefined properties */
    border: none;
    padding: 0;
  }
  .a-link:focus { /* add outline to focus pseudo-class */
    outline-style: dotted;
    outline-width: 1px;
  }
}

.btn.btn-link {
  background: none!important;
  border: none !important;
  padding: 0!important;
  cursor: pointer;
}

.btn.btn-link:hover {
  transform: none!important;
}

.fee-modal {
  padding: 3.71428571em;
}

.editing-features p:last-of-type{
  margin-bottom: 0!important;
}

.user-icon {
  margin-bottom: 0.68421052631579em;
}
.icon--svg {
  fill:#666666;
}

.Home h1 {
  font-weight: 600;
}

.Home h2 {
  font-weight: 700;
}

.pt-11 {
  padding-top: 11.14285714em;
}

.pb-13 {
  padding-bottom: 13em;
}
